
<div class="row">
  <img class="landing-image col-sm-12" src="/images/cheers.jpg" alt="people cheersing" />
  <div class="row justify-content-center">
    <h2 class="landing-title col-sm-8">Welcome to the CinciBrew Trail</h2>
    <div class="landing-description col-sm-8">
      <h4>Track your love of beer and support your local breweries by finding the
        Cincinnati breweries you've visited and adding them to your profile list of
        visited breweries. </h4>
      </div>
  </div>
</div>
